<nav class="navbar navbar-expand-lg" data-bs-theme="dark" style="background-color: rgb(68, 0, 255);">
  <div class="container">
    <a class="navbar-brand" routerLink="/">CRUD</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" aria-current="page" routerLink="/">Employee List</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" aria-current="page" routerLink="/add-employee">Add Employee</a>
        </li>
      </ul>

    </div>
  </div>
</nav>

<div class="w-75 mx-auto mt-4">
  <router-outlet></router-outlet>
</div>
